[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ligiaferreira
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ligiaferreira
	label-Verified = -1..+1 group user/ligiaferreira
	push = group user/ligiaferreira
	read = group user/ligiaferreira
	rebase = group user/ligiaferreira
	removeReviewer = group user/ligiaferreira
	submit = group user/ligiaferreira
[access "refs/heads/*"]
	create = group user/ligiaferreira
	push = +force group user/ligiaferreira
	pushMerge = group user/ligiaferreira
	read = group user/ligiaferreira
[access "refs/tags/*"]
	push = group user/ligiaferreira
	push = +force group user/ligiaferreira
